@import '../../../assets/colors.scss';

.add-post {
  padding-top: 7%;
  width: 60%;
  margin: 0 auto;
  .btn {
    background-color: $maincolor !important;
  }
  mdb-error, mdb-success{
    margin-top: 1%;
  }
  textarea{
    white-space: pre-wrap;
  }
}
