@import '../../../assets/colors.scss';

.post {
  .answers-votes {
    width: 20%;
    display: block;
    float: left;
    mdb-badge{
        width: 45%;
        margin: 2%;
        height: 100px;
        .count{
          font-size: 1.5rem;
        }
        .count-pos{
          color: $upvote;
        }
        .count-neg{
          color: $downvote;
        }
    }
  }

  .card {
    .post-owner {
      color: $maincolor;
      font-weight: bold;
    }
  }

  margin: 2%;
  transition-duration: 0.2s;
  &:hover {
    opacity: 0.6;
    transition-duration: 0.2s;
  }
}
