@import '../../../assets/colors.scss';

.post {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  .answers-votes {
    width: 18%;
    display: block;
    float: left;

    mdb-badge {
      width: 45%;
      margin: 2%;
      height: 100px;

      .count {
        font-size: 1.5rem;
      }

      .count-pos {
        color: $upvote;
      }

      .count-neg {
        color: $downvote;
      }
    }
  }

  .card {
    .post-owner {
      color: $maincolor;
      font-weight: bold;
    }
  }

  margin: 2%;
  transition-duration: 0.2s;

  &:hover {
    opacity: 0.6;
    transition-duration: 0.2s;
  }
}
