@import '../../../assets/colors.scss';

.register {
  padding-top: 7%;
  width: 40%;
  margin: 0 auto;

  .btn {
    background-color: $maincolor !important;
  }

  .link {
    color: $maincolor;
    font-weight: bold;
  }
  mdb-error, mdb-success{
    margin-top: 1%;
  }
  .md-form{
    margin: 6% 2%;
  }
  .email{
    margin-left: 1%;
  }
}
