<div class="login">
  <form [formGroup]="login" class="border border-light p-5" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4 text-center">Sign in</p>
    <p class="h7 mb-4 text-center error">{{errorMsg}}</p>

    <div class="form-row">
      <div class="col">
        <div class="md-form email">
          <input mdbInput mdbValidate type="email" id="email" class="form-control" formControlName="email" data-cy="login-email">
          <label for="email">Email</label>
          <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
            {{getErrorMessage(login.get('email')['errors']) }}</mdb-error>
          <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Input valid</mdb-success>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="md-form">
          <input mdbInput mdbValidate type="password" id="password" class="form-control" formControlName="password" data-cy="login-password">
          <label for="password">Password</label>
          <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">
            {{getErrorMessage(login.get('password')['errors']) }}</mdb-error>
          <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Input valid</mdb-success>
        </div>
      </div>
    </div>

    <button class="btn btn-info btn-block my-4 btn" type="submit" [disabled]='!login.valid' data-cy="login-button">Sign in</button>

    <div class="text-center">
      <p>Not a member?
        <a [routerLink]="['/authentication/register']" class="link">Register</a>
      </p>
    </div>
  </form>
</div>
