@import './assets/colors.scss';

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  background-color: $maincolor;
}

.spinner-grow {
  margin-top: 10%;
  width: 4rem;
  height: 4rem;
  background-color: $maincolor;
}

.card {
  box-shadow: none;

  .card-body {
    padding-bottom: 2%;
    padding-top: 2%;

    h5 {
      margin-bottom: 0;
      color: $black;
      font-weight: bold;
      font-size: 1.4rem;
    }

    .card-text {
      padding-top: 2%;

    }
  }

  .card-footer {
    background-color: rgba($color: $grey, $alpha: 0.1);
  }
}

.badge {
  color: $black !important;
  font-size: 1rem;
  background-color: inherit !important;
  box-shadow: none;
  padding-top: 7%;
  line-height: 1.7;
}

.md-form textarea[type=text]:focus:not([readonly])+label {
  color: $maincolor;
}

.md-form textarea[type=text]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 $maincolor;
  border-bottom: 1px solid $maincolor;
}

.form-control:focus {
  color: $black;
  border-color: rgba($color: $maincolor, $alpha: 0.1);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba($color: $maincolor, $alpha: 0.25);
}

.md-form input[type=text]:focus,
.md-form input[type=email]:focus,
.md-form input[type=password]:focus {
  box-shadow: 0 1px 0 0 $maincolor !important;
  border-bottom: 1px solid $maincolor !important;
}

.md-form input[type=text]:focus:not([readonly])+label,
.md-form input[type=email]:focus:not([readonly])+label,
.md-form input[type=password]:focus:not([readonly])+label {
  color: $maincolor;
}
pre{
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
  color: #747373;
  font-size: 0.9rem;
  font-weight: 400;
}
